*{
    margin:8px;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    height: auto;
}
body{
    border: 0;
    margin: 10px;
    
}

.nav{
    width:90%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    
}

#logo{
    width: 500px;
    height: 100px;
    align-content: center; 
}
#mytopnav{
    text-decoration: none;
    color: rgb(11, 130, 108);
}
#mytopnav:hover{
    color: rgb(1, 255, 255);
    background-color: rgb(5, 72, 95);
    padding: 20px;
    border-radius: 45px;
    transition: all 0.3s ease-in-out;
}
#hi{
    width: 50px;
    height: 50px;
}
h1{
    font-size: 30px;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}
.div1{
    display: flex;

}
.para{
    color: rgb(98, 98, 94);
    
}
#social{
    width: 300px;
    height:auto;
}
#con{
    background-color: rgb(12, 94, 122);
    color: rgb(1, 255, 255);
    padding: 10px;
    box-shadow:inset;
    border: none;
    border-radius: 20px;
}
#con:hover{
    cursor: pointer;
}
.div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    width: auto;
    height: auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0  rgb(7, 179, 236);
  }
  
.div3{
    display: flex;
    justify-content: space-around;
}

.div4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#res1{
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
}
.contact{
    list-style: none;
    
}
.contact1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
}
.contact1 a{
    text-decoration: none;
    color: rgb(98, 96, 96);
    display: flex;
    align-items: center;
    width: 500px;
    padding: 10px;
   
}
.contact1:hover{
    box-shadow: 0 8px 16px 0  rgb(99, 204, 239);
    transition: all 0.4s linear;
}
.foot{
    display: flex;
    background-color:rgb(5, 72, 95);
    color:rgb(0, 199, 162);
   justify-content: center;
    width: auto;
    height: fit-content;
   
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity:1;
}
    
